@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
  min-width: 375px;
}

.nav-flex {
  text-align: center;
  margin: 0;
  padding-right: 2%;
  padding-left: 2%;
  max-width: 375px;
  min-width: 375px;
}

.nav-middle ul {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-flex a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.1em;
  display: inline-block;
  font-weight: 100;
  padding: 20px 5px;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.flex-post ul li {
  background-color: #ebf0ee;
  border: 1px solid #ebf0ee;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.email {
  margin-bottom: 100px;
  margin-top: 20px;
  width: 300px;
  margin-left: 80px;
}

.email a {
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}

.nav-flex header li a {
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: #344563;
}

nav .nav-left {
  justify-content: flex-start;
}

.social-icons ul {
  justify-content: space-between;
  padding-top: 20px;
  width: 170px;
  margin: auto;
  display: flex;
  list-style: none;
}

.flex-post ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-content: center;
}

.flex-skills ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.flex-skills ul li:nth-of-type(5) {
  margin-top: 25px;
}

.nav-flex header ul {
  list-style: none;
}

nav .nav-right {
  justify-content: flex-end;
}

.home-content {
  background-image: url("../images/header-illsutration-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  padding-top: 50px;
  height: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}

.home-content .primary {
  height: 192px;
  width: 327px;
}

.frameworks h2,
.skills h2,
.languages h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  color: #344563;
}

.posts h2 {
  margin: 15px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
  font-weight: bold;
}

.about-me-text h2 {
  padding-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
}

.home-content .primary h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3em;
  color: #172b4d;
}

.home-content .primary .software-dev {
  color: #36b37f;
  margin-top: 10px;
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
}

.home-content .supporting {
  height: 164px;
  width: 327px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.my-recent-works h3 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  align-items: center;
  text-align: center;
}

.home-content .supporting h3 {
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
}

.social-icons {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 18px;
  margin-bottom: 30px;
}

.social-icons ul li i {
  width: 100%;
  height: 100%;
  color: #505f79;
}

.my-recent-works {
  padding-top: 20px;
  width: 327px;
  height: 97px;

  /* margin-bottom: 50%; */
}

.action {
  margin-bottom: 5px;
}

.my-recent-works img {
  margin-top: 20px;
  margin-bottom: 50px;
}

/* ---------------------mobile version------------ */

.my-works .posts h2 {
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2em;
  color: #3a4a42;
}

.my-works {
  max-width: 375px;
  text-align: center;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.my-works .indicator {
  margin-bottom: 10px;
  text-align: center;
}

.works {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px;
}

.work-1,
.work-2,
.work-3,
.work-4,
.work-5,
.work-6 {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  align-items: center;
  padding-bottom: 15px;
}

.work-1:hover,
.work-2:hover,
.work-3:hover,
.work-4:hover,
.work-5:hover,
.work-6:hover {
  transform: scale(0.8);
  transition: 0.5s;
}

.my-knowledge .languages,
.frameworks,
.skills {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  padding: 10px;
  height: 352px;
  margin-top: 10px;
}

.languages:hover,
.skills:hover,
.frameworks:hover {
  transition: 0.5s;
  transform: scale(0.9);
}

.works .img-holder {
  width: 100%;
  height: 220px;
  border-bottom: none;
  padding: 0;
  background-color: #ebf0ee;
}

.posts .works-button {
  padding: 10px;
  color: #fff;
  margin: 30px 0;
  outline: none;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  font-size: 20px;
}

.about-me {
  width: 351px;
  text-align: center;
  background: url("../images/illustration\ 2-about\ me\ mobile.svg");
  background-repeat: no-repeat;
  background-size: 100px 50px;
  background-position: bottom left;
  margin-left: 10px;
  margin-right: 10px;
}

.about-me-text {
  width: 351px;
  padding-top: 5px;
  background: url("../images/illustration\ 1-\ about\ me-mobile.svg");
  background-repeat: no-repeat;
  background-position: 290px 0;
}

.about-me .about-me-text p {
  text-align: center;
  line-height: 1.5em;
  font-weight: 400;
  font-style: normal;
  color: #42526e;
  font-size: 20px;
}

.about-me .about-me-text h2 {
  margin: 20px auto;
  padding-bottom: 20px;
}

.about-me .get-resume {
  padding: 12px;
  color: #fff;
  margin: 20px 0;
  outline: none;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
}

.my-knowledge {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 375px;
  padding-left: 16px;
  padding-right: 10px;
}

.my-knowledge .flex-languages ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-content: space-between;
  padding: 10px;
}

.my-knowledge .flex-frameworks ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 327px;
}

.my-knowledge .flex-skills ul li,
.my-knowledge .flex-frameworks ul li,
.my-knowledge .flex-languages ul li {
  color: #36b37f;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  align-items: center;
  margin: 5px;
}

.flex-skills {
  margin-bottom: 100px;
}

.contact-me {
  width: 375px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-me .contact-me-content {
  width: 327px;
  margin-top: 20px;
  height: auto;
}

.contact-me .contact-me-content h3 {
  text-align: center;
  line-height: 1.4em;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  padding-left: 20px;
}

.languages img,
.frameworks img,
.skills img {
  text-align: center;
}

/* --------------------end of mobile version-------- */

/* -------------contact form css----- */
.contact-container {
  width: 375px;
  height: 100vh;
}

.contact-form {
  width: 375px;
  margin-top: 5px;
}

.form-group input {
  border: 1px solid #d0d9d4;
  outline: none;
  border-radius: 4px;
  color: #6b778c;
  height: 48px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
}

form {
  padding-bottom: 10px;
  position: relative;
}

.form-group textarea {
  border: 1px solid #60c095;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  outline: none;
  background: #fff;
  flex-basis: 100%;
  resize: none;
  font-style: normal;
  height: 114px;
}

.get-in-touch {
  font-size: 17px;
  font-weight: bolder;
  background-color: #36b37f;
  padding: 12px;
  border-radius: 4px;
  width: 129px;
  height: 48px;
  margin-left: 123px;
  margin-top: 20px;
  border: 1px solid #36b37f;
  color: #fff;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.get-in-touch:hover {
  background-color: #36b37f;
}

.get-in-touch:active {
  background-color: #008552;
}

.get-in-touch:enabled {
  background-color: #36b37f;
}

.icon-resize {
  position: absolute;
  top: 67%;
  right: 16px;
}

.contact-shape {
  text-align: center;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin-left: 123px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  /* border: 2px solid black; */
  margin: 0 10px;
}

.form-group label {
  display: none;
}

hr {
  display: none;
}

.first-last-name {
  display: none;
}

.contact-illus-1,
.contact-illus-2 {
  display: none;
}

.nav-middle.show ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-top: 92px;
  padding-left: 18px;
  margin: 0 12px;
  background: #fff;
  z-index: 10;
}

.nav-middle.show ul li {
  font-size: 32px;
  font-weight: 800;
  color: #3a4a42;
}

.menu {
  position: relative;
  width: 24px;
  height: 24px;
  right: 5%;
  top: 2%;
  background: url('../images/Icon-Menu.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10000;
}

.menu.show {
  position: fixed;
  right: 8%;
  top: 2%;
  background: url('../images/Icon\ -\ Cancel.png');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

/* --------media queries----- */
@media (min-width: 768px) {
  body {
    /* background-image: url(../images/Header-llustration-desktop.svg); */

    /* background-size: contain;
    background-repeat: no-repeat; */
    font-family: "Inter", sans-serif;
    font-family: "Poppins", sans-serif;

    /* border: 1px solid yellow; */
  }

  .container {
    width: 100%;
    margin: auto;
    margin-top: 10px;

    /* border: 10px solid black; */

    /* background-image: url('../images/Frame(1).svg'); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 1px left 20px;
  }

  .nav-flex {
    min-width: 100%;
    margin: auto;
    height: 1020px;
    background-image: url(../images/Header-llustration-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav-middle ul {
    display: inline;
    display: flex;
    justify-content: space-evenly;
  }

  nav {
    display: flex;
    min-width: 100%;
    justify-content: center;
  }

  nav .nav-left,
  nav .nav-right {
    display: none;
  }

  .nav-middle ul li {
    padding: 0.5rem;
    margin: 0 25px;
    font-size: 16px;
    font-weight: 600;
    color: #344563;
    font-family: "Inter", sans-serif;
    position: relative;
    cursor: pointer;
  }

  .home-content {
    background-image: none;
    width: 920px;
    padding-top: 100px;
    margin: auto;
  }

  .home-content .primary {
    height: 114px;
    width: 920px;
    margin: 12px;
    text-align: center;
  }

  .home-content .supporting {
    width: 920px;
    height: 150px;
    color: #172b4d;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    padding: 0 60px;
  }

  .about-me-text h2 {
    color: #172b4d;
    font-weight: 700;
    font-size: 48px;
    font-style: normal;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
    text-align: center;
    width: 447px;
    height: 48px;
  }

  .home-content .primary h2 {
    text-align: center;
    font-size: 40px;
    line-height: 0.8em;
    font-weight: 700;
    color: #172b4d;
    font-family: "Inter", sans-serif;
  }

  .home-content .primary .software-dev {
    font-size: 48px;
  }

  .social-icons {
    margin-top: 0;
    padding-top: 5px;
  }

  .my-recent-works {
    width: 447px;
    height: 80px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 530px;
  }

  .my-recent-works h3 {
    color: #172b4d;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
  }

  .my-recent-works img {
    display: none;
  }

  .my-works {
    min-width: 1171px;
    min-height: 1020px;
    margin: auto;
    margin-top: 120px;
  }

  .works .work-1,
  .works .work-2,
  .works .work-3,
  .works .work-4,
  .works .work-5,
  .works .work-6 {
    max-width: 369px;
    max-height: 474px;
  }

  .works {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-me {
    width: 100%;
    height: 345px;
    margin: auto;
    background: url("../images/Group\ desktop.svg");
    background-repeat: no-repeat;
    background-position: 1098px 0;
  }

  .about-me-text {
    width: 100%;
    height: 345px;
    background: url("../images/Group\ desk.svg");
    background-repeat: no-repeat;
    background-position: 1px;
  }

  .about-me-text p {
    font-weight: 400;
    font-size: 20px;
    color: #42526e;
    margin-top: 10px;
    width: 920px;
    height: 96px;
    padding-left: 350px;
    padding-top: 20px;
    text-align: center;
  }

  .get-resume {
    transition: 0.5s;
    cursor: pointer;
  }

  .about-me .get-resume {
    margin-top: 60px;
  }

  .my-knowledge {
    width: 1171px;
    margin: auto;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
  }

  .my-knowledge .languages,
  .my-knowledge .frameworks,
  .my-knowledge .skills {
    width: 369px;
    height: 375px;
  }

  .contact-form .form-flex {
    margin: 0 80px;
    display: grid;
    width: 1171px;
    height: 490px;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    background-image: url("../images/bg\ 2\ for\ contact.svg");
    background-repeat: no-repeat;
    background-position: bottom 0 left 200px;
  }

  .contact-form .contact-me {
    width: 463px;
    height: 253px;
  }

  .contact-me-content {
    height: 200px;
    width: 463px;
    padding: 0;
    padding-right: 25px;
    margin: 0;
  }

  .contact-me-content h3 {
    color: #172b4d;
    width: 463px;
    font-weight: 700;
    font-size: 30px;
  }

  form {
    position: relative;
  }

  .form-group {
    margin-right: 0;
  }

  .email,
  .contact-shape {
    display: none;
  }

  .email {
    height: 200px;
    width: 500px;
  }

  hr {
    background: #dfe1e6;
    width: 1440px;
    height: 1px;
    display: inline-block;
    margin-top: 100px;
  }

  .contact-container {
    width: 100%;
    height: 100vh;
    background-image: url("../images/Frame.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 7px right -25px;
  }

  .contact-container .social-icons {
    margin-left: 580px;
  }

  .form-group #fullname {
    display: none;
  }

  .first-last-name {
    display: inline-block;
  }

  form .first-last-name {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .get-in-touch {
    margin-left: 15px;
  }

  .icon-resize {
    position: absolute;
    top: 47%;
    right: 7px;
  }

  .works-button {
    cursor: pointer;
    transition: 0.5s;
  }

  .works-button:hover {
    background-color: #36b37f;
  }

  .works-button:active {
    background-color: #008552;
  }

  .works-button:enabled {
    background-color: #36b37f;
  }

  .get-resume:hover {
    background-color: #36b37f;
  }

  .get-resume:active {
    background-color: #008552;
  }

  .get-resume:enabled {
    background-color: #36b37f;
  }

  .contact-form {
    background: url("../images/bg1\ for\ contact.svg");
    background-repeat: no-repeat;
    background-position: bottom 80px left 1px;
  }

  .languages:hover,
  .skills:hover,
  .frameworks:hover {
    transition: 0.5s;
    transform: scale(0.9);
  }

  .work-1:hover,
  .work-2:hover,
  .work-3:hover,
  .work-4:hover,
  .work-5:hover,
  .work-6:hover {
    transform: scale(0.8);
    transition: 0.5s;
  }

  .nav-middle ul li::after {
    content: '';
    width: 0;
    background: #008552;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
  }

  .nav-middle ul li:hover::after {
    width: 100%;
  }
}
