@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

h1 {
  font-size: 29px;
}

.nav-flex {
  text-align: center;
  margin: 0;
  padding-right: 2%;
  padding-left: 2%;
  min-width: 375px;
}

.nav-middle ul {
  display: none;
}

nav {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-flex a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  letter-spacing: 0.1em;
  display: inline-block;
  font-weight: 100;
  padding: 20px 5px;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.flex-post ul li {
  background-color: #ebf0ee;
  border: 1px solid #ebf0ee;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
}

.email {
  margin-bottom: 100px;
  margin-top: 20px;
  width: 300px;
  margin-left: 80px;
}

.email a {
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}

.nav-flex header li a {
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: #344563;
}

nav .nav-left {
  justify-content: flex-start;
}

.social-icons ul {
  justify-content: space-between;
  padding-top: 20px;
  width: 170px;
  margin: auto;
  display: flex;
  list-style: none;
}

.flex-post ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-content: center;
}

.flex-skills ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.popup-mobile-technology ul li {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px;
}

.social-icons li:hover {
  transform: translateY(-10px);
  color: #008552;
}

.popup-mobile-technology ul li:first-child {
  display: none;
}

.flex-skills ul li:nth-of-type(5) {
  margin-top: 25px;
}

.popup-mobile-technology ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.nav-flex header ul {
  list-style: none;
}

nav .nav-right {
  justify-content: flex-end;
}

.home-content {
  background-image: url("../images/header-illsutration-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 10px;
  padding-top: 50px;
  height: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.home-content .primary {
  width: 100%;
}

.frameworks h2,
.skills h2,
.languages h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  text-align: center;
  color: #344563;
}

.posts h2 {
  margin: 15px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
  font-weight: bold;
}

.about-me-text h2 {
  padding-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
}

.home-content .primary h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.3em;
  color: #172b4d;
}

.home-content .primary .software-dev {
  color: #04a05f;
  margin-top: 10px;
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
}

.home-content .supporting {
  margin: auto;
  margin-bottom: 20px;
}

.my-recent-works h3 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  align-items: center;
  text-align: center;
}

.home-content .supporting h3 {
  color: #172b4d;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 28px;
  margin: 50px auto;
}

.social-icons {
  margin-bottom: 30px;
}

.social-icons ul li i {
  width: 100%;
  height: 100%;
  color: #505f79;
}

.social-icons ul li a {
  transition: 0.2s ease-in-out;
  color: #008552;
}

.my-recent-works img {
  margin-top: 20px;
  margin-bottom: 50px;
}

.social-icons li a:hover {
  transform: translateY(-10px);
  color: #008552;
}

.languages img,
.frameworks img,
.skills img {
  text-align: center;
}

.social-icons li img:hover {
  transform: translateY(-10px);
}

.my-recent-works {
  padding-top: 20px;
}

.action {
  margin-bottom: 5px;
}

/* ---------------------mobile version------------ */

.works .posts h2 {
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2em;
  color: #3a4a42;
}

.works {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.works .indicator {
  margin-bottom: 10px;
  text-align: center;
}

.work-1,
.work-2,
.work-3,
.work-4,
.work-5,
.work-6 {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  align-items: center;
  padding-bottom: 15px;
  margin: auto;
  width: 100%;
}

.work-1:hover,
.work-2:hover,
.work-3:hover,
.work-4:hover,
.work-5:hover,
.work-6:hover {
  transform: scale(0.8);
  transition: 0.5s;
}

.my-knowledge .languages,
.frameworks,
.skills {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background-color: #ebf0ee;
  padding: 10px;
  height: 352px;
  margin-top: 10px;
}

.languages:hover,
.skills:hover,
.frameworks:hover {
  transition: 0.5s;
  transform: scale(0.9);
}

.works .img-holder {
  min-width: 100%;
  width: 365px;
  height: 220px;
  border-bottom: none;
  padding: 0;
  background-color: #ebf0ee;
}

.works-button {
  cursor: pointer;
  transition: 0.5s;
}

.posts .works-button {
  padding: 10px;
  color: #fff;
  margin: 30px 0;
  outline: none;
  border: none;
  background: #04f38b88;
  border-radius: 4px;
  font-size: 20px;
}

.about-me {
  text-align: center;
  background: url("../images/illustration\ 2-about\ me\ mobile.svg");
  background-repeat: no-repeat;
  background-size: 100px 50px;
  background-position: bottom left;
}

.about-me-text {
  width: 351px;
  padding-top: 5px;
  background: url("../images/illustration\ 1-\ about\ me-mobile.svg");
  background-repeat: no-repeat;
  background-position: 290px 0;
}

.popup-description-container p {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.about-me .about-me-text p {
  text-align: center;
  line-height: 1.5em;
  font-weight: 400;
  font-style: normal;
  color: #42526e;
  font-size: 20px;
}

.about-me .about-me-text h2 {
  margin: 20px auto;
  padding-bottom: 20px;
}

.about-me .get-resume {
  padding: 12px;
  color: #fff;
  margin: 20px 0;
  outline: none;
  border: none;
  background: #03442a;
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
}

.my-knowledge {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.my-knowledge .flex-languages ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-content: space-between;
  padding: 10px;
}

.my-knowledge .flex-frameworks ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 327px;
}

.my-knowledge .flex-skills ul li,
.my-knowledge .flex-frameworks ul li,
.my-knowledge .flex-languages ul li {
  color: #037244;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  align-items: center;
  margin: 5px;
}

.flex-skills {
  margin-bottom: 100px;
}

.contact-me {
  width: 375px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-me .contact-me-content {
  width: 327px;
  margin-top: 20px;
  height: auto;
}

.contact-me .contact-me-content h3 {
  text-align: center;
  line-height: 1.4em;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  padding-left: 20px;
}

.flex-item1 {
  width: 311px;
  height: 300px;
  display: block;
}

/* --------------------end of mobile version-------- */

/* -------------contact form css----- */
.contact-container {
  width: 375px;
  height: 100vh;
}

.contact-form {
  width: 375px;
  margin-top: 5px;
}

.form-group input {
  border: 1px solid #d0d9d4;
  outline: none;
  border-radius: 4px;
  color: #6b778c;
  height: 48px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 400;
}

form {
  padding-bottom: 10px;
  position: relative;
}

.form-group textarea {
  border: 1px solid #60c095;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  outline: none;
  background: #fff;
  flex-basis: 100%;
  resize: none;
  font-style: normal;
  height: 114px;
}

.get-in-touch {
  font-size: 17px;
  font-weight: bolder;
  background-color: #033a23;
  padding: 12px;
  border-radius: 4px;
  width: 129px;
  height: 48px;
  margin-left: 123px;
  margin-top: 30px;
  border: 1px solid #36b37f;
  color: #fff;
  align-items: center;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.get-in-touch:hover {
  background-color: #36b37f;
  box-shadow: 0 0 0 0.3em #008552;
}

.get-in-touch:active {
  background-color: #008552;
}

.get-in-touch:enabled {
  background-color: #03442a;
}

.icon-resize {
  position: absolute;
  top: 65%;
  right: 16px;
}

.contact-shape {
  text-align: center;
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin-left: 123px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0 10px;
}

.form-group label {
  display: none;
}

hr {
  display: none;
}

.first-last-name {
  display: none;
}

.contact-illus-1,
.contact-illus-2 {
  display: none;
}

.nav-middle.show ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-top: 50px;
  padding-left: 18px;
  background: #04a05f;
  z-index: 10;
}

.nav-middle.show ul li a {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 5px;
}

.nav-middle.show ul li a::after {
  content: "";
  width: 0;
  background: #ec5242;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 2px;
  transition: 0.5s;
}

.nav-middle.show ul li a:hover::after {
  width: 100%;
}

.menu {
  position: relative;
  width: 24px;
  height: 24px;
  right: 5%;
  top: 2%;
  background: url('../images/menu.png');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10000;
}

.menu.show {
  position: fixed;
  width: 24px;
  height: 24px;
  right: 12%;
  top: 4%;
  background: url('../images/close.png');
  background-size: 24px;
  background-repeat: no-repeat;
}

.desktop-screen {
  display: none;
}

.letter-m-icon {
  align-self: center;
  margin-top: 2px;
}

.works-button:hover {
  background-color: #36b37f;
  box-shadow: 0 0 0 0.3em #008552;
}

.works-button:active {
  background-color: #03442a;
}

.works-button:enabled {
  background-color: #03442a;
}

.get-resume:hover {
  background-color: #36b37f;
  box-shadow: 0 0 0 0.3em #008552;
}

.get-resume:active {
  background-color: #03442a;
}

.get-resume:enabled {
  background-color: #03442a;
}

.works-popup {
  width: 343px;
  height: 980px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50px);
  background-color: #fff;
  z-index: 10;
  padding: 16px;
  margin-top: 30px;
  border-radius: 16px;
}

.close-popup {
  position: fixed;
  top: 3.4%;
  right: 11%;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

.desk-item1 {
  display: none;
}

.display-left {
  width: 259px;
  height: 90px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  color: #172b4d;
  margin-top: 10px;
}

.popup-mobile-technology {
  margin-top: 10px;
}

.popup-mobile-technology ul li:last-child {
  display: none;
}

.popup-mobile-technology ul li:nth-child(2) {
  margin-right: 10px;
}

.popup-mobile-technology ul li:nth-child(3) {
  margin-right: 10px;
}

.popup-technology-list-container {
  display: none;
}

.popup-description-container {
  width: 311px;
  height: 313px;
}

.display-right {
  display: none;
}

.display-right.mobile {
  display: block;
  margin-top: 53%;
  text-decoration: none;
}

.display-right.mobile .works-button-see-live {
  background-color: #36b37f;
  text-decoration: none;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
}

#portfolioPopup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
  background: #c1c7d0;
}

.displayErrorMessage {
  color: #fff;
  font-size: 13px;
  background-color: red;
  display: none;
}

#display-error {
  display: none;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 73%;
  text-align: center;
  padding: 15px;
  transition: visibility 30s ease-in-out;
  background-color: red;
}

/* stylelint-disable-next-line comment-empty-line-before */

@media (min-width: 768px) {
  body {
    font-family: "Poppins", sans-serif;
  }

  .nav-flex {
    min-width: 100%;
    margin: auto;
    height: 1020px;
    background-image: url(../images/Header-llustration-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav-middle ul {
    display: inline;
    display: flex;
    justify-content: space-evenly;
  }

  nav {
    display: flex;
    min-width: 100%;
    justify-content: center;
  }

  nav .nav-left,
  nav .nav-right {
    display: none;
  }

  .nav-middle ul li {
    padding: 0.5rem;
    margin: 0 25px;
    font-size: 16px;
    font-weight: 600;
    color: #344563;
    font-family: "Inter", sans-serif;
    position: relative;
    cursor: pointer;
  }

  .home-content {
    background-image: none;
    width: 920px;
    padding-top: 100px;
    margin: auto;
  }

  .home-content .primary {
    height: 114px;
    width: 920px;
    margin: 12px;
    text-align: center;
  }

  .home-content .supporting {
    width: 920px;
    height: 150px;
    color: #172b4d;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2px;
    margin-bottom: 0;
    font-family: "Inter", sans-serif;
    padding: 0 60px;
  }

  .about-me-text h2 {
    color: #172b4d;
    font-weight: 700;
    font-size: 48px;
    font-style: normal;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
    text-align: center;
    width: 447px;
    height: 48px;
  }

  .home-content .primary h2 {
    text-align: center;
    font-size: 48px;
    line-height: 0.8em;
    font-weight: 700;
    color: #172b4d;
    font-family: "Inter", sans-serif;
  }

  .home-content .primary .software-dev {
    font-size: 48px;
  }

  .social-icons {
    margin-top: 0;
    padding-top: 5px;
  }

  .my-recent-works {
    width: 447px;
    height: 80px;
    padding-bottom: 0;
    margin-top: 400px;
  }

  .my-recent-works h3 {
    color: #172b4d;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
  }

  .my-recent-works img {
    display: none;
  }

  .works .work-1,
  .works .work-2,
  .works .work-3,
  .works .work-4,
  .works .work-5,
  .works .work-6 {
    width: 369px;
    height: 474px;
  }

  .works {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 1171px;
    min-height: 1020px;
    margin: auto;
    margin-top: 120px;
  }

  .about-me {
    width: 100%;
    height: 345px;
    margin: auto;
    background: url("../images/Group\ desktop.svg");
    background-repeat: no-repeat;
    background-position: 1098px 0;
  }

  .about-me-text {
    width: 100%;
    height: 345px;
    background: url("../images/Group\ desk.svg");
    background-repeat: no-repeat;
    background-position: 1px;
  }

  .about-me-text p {
    font-weight: 400;
    font-size: 20px;
    color: #42526e;
    margin-top: 10px;
    width: 920px;
    height: 96px;
    padding-left: 350px;
    padding-top: 20px;
    text-align: center;
  }

  .get-resume {
    transition: 0.5s;
    cursor: pointer;
  }

  .about-me .get-resume {
    margin-top: 60px;
  }

  .my-knowledge {
    width: 100%;
    margin: auto;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
  }

  .my-knowledge .languages,
  .my-knowledge .frameworks,
  .my-knowledge .skills {
    width: 100%;
    height: 375px;
  }

  .contact-form .form-flex {
    display: grid;
    width: 100%;
    height: 490px;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
    background-image: url("../images/bg\ 2\ for\ contact.svg");
    background-repeat: no-repeat;
    background-position: bottom 0 left 200px;
    padding-right: 0;
  }

  .contact-form .contact-me {
    width: 463px;
    height: 253px;
  }

  .contact-me-content {
    height: 200px;
    width: 463px;
    padding: 0;
    padding-right: 25px;
    margin: 0;
  }

  .contact-me-content h3 {
    color: #172b4d;
    width: 463px;
    font-weight: 700;
    font-size: 30px;
  }

  form {
    position: relative;
  }

  .form-group {
    margin-right: 0;
  }

  .email,
  .contact-shape {
    display: none;
  }

  .email {
    height: 200px;
    width: 500px;
  }

  hr {
    background: #dfe1e6;
    width: 1440px;
    height: 1px;
    display: inline-block;
    margin-top: 100px;
  }

  .contact-container {
    width: 100%;
    margin-top: 25px;
    background-image: url("../images/Frame.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 5px right;
  }

  .contact-container .social-icons {
    margin-left: 580px;
  }

  .form-group #fullname {
    display: none;
  }

  .first-last-name {
    display: inline-block;
  }

  form .first-last-name {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }

  .get-in-touch {
    margin-left: 15px;
    margin-top: 30px;
  }

  .icon-resize {
    position: absolute;
    top: 47%;
    right: 7px;
  }

  .works-button {
    cursor: pointer;
    transition: 0.5s;
  }

  .works-button:hover {
    background-color: #36b37f;
    box-shadow: 0 0 0 0.3em #008552;
  }

  .works-button:active {
    background-color: #008552;
  }

  .works-button:enabled {
    background-color: #03442a;
  }

  .get-resume:hover {
    background-color: #36b37f;
    box-shadow: 0 0 0 0.3em #008552;
  }

  .get-resume:active {
    background-color: #03442a;
  }

  .get-resume:enabled {
    background-color: #03442a;
  }

  .contact-form {
    width: 100%;
    background: url("../images/bg1\ for\ contact.svg");
    background-repeat: no-repeat;
    background-position: bottom 80px left 1px;
  }

  .languages:hover,
  .skills:hover,
  .frameworks:hover {
    transition: 0.5s;
    transform: scale(0.9);
  }

  .work-1:hover,
  .work-2:hover,
  .work-3:hover,
  .work-4:hover,
  .work-5:hover,
  .work-6:hover {
    transform: scale(0.8);
    transition: 0.5s;
  }

  .nav-middle ul li::after {
    content: "";
    width: 0;
    background: #008552;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 2px;
    transition: 0.5s;
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  .nav-middle ul li {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .nav-middle ul li a {
    padding-bottom: 4px;
    margin-bottom: 2px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
  }

  .nav-middle ul li:hover::after {
    width: 100%;
  }

  .small-screen {
    display: none;
  }

  .desktop-screen {
    display: inline-block;
  }

  .show {
    display: none;
  }

  .works-popup {
    position: absolute;
    left: 50%;
    top: 15%;
    bottom: 0;
    right: 0;
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    transform: translate(-50%, -50px);
    background-color: #fff;
    z-index: 10;
    width: 920px;
    height: 1040px;
    padding: 10px;
    padding-bottom: 50px;
  }

  .close-popup {
    position: fixed;
    top: 1%;
    right: 3%;
    text-decoration: none;
    background: #ebecf0;
    mix-blend-mode: multiply;
    border-radius: 3px;
    padding: 3px;
    display: block;
    color: #67798e;
  }

  .flex-item1 {
    display: none;
  }

  .desk-item1 {
    display: block;
    padding-top: 45px;
    padding-left: 15px;
    margin-right: 0;
    width: 880px;
    height: 616px;
  }

  .display-left {
    width: 500px;
    color: #172b4d;
    padding-left: 10px;
    height: 60px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .display-right {
    display: block;
  }

  .project-title-and-see-live-source {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    padding: 10px;
  }

  .project-title-and-see-live-source .display-left {
    margin-top: 0;
  }

  .project-title-and-see-live-source .display-right {
    padding: 10px 10px 0 0;
  }

  .popup-technology-list-container {
    padding: 10px;
    margin-top: 20px;
    display: block;
  }

  .popup-technology-list-container ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
  }

  .popup-technology-list-container ul li {
    margin-left: 20px;
    background: #ebecf0;
    border-radius: 8px;
    padding: 8px 12px;
  }

  .popup-technology-list-container ul li:first-child {
    margin-left: 0;
  }

  .works-button-see-live {
    background-color: #36b37e;
    padding: 12px;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
  }

  .popup-description-container p {
    padding: 0 10px;
    color: #344563;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    line-height: 30px;
  }

  .popup-description-container {
    width: 876px;
    height: 151px;
  }

  .popup-mobile-technology {
    display: none;
  }

  #portfolioPopup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
    background: #c1c7d0;
  }

  .display-right.mobile {
    display: none;
  }

  #display-error {
    display: none;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 53%;
    text-align: center;
    padding: 15px;
    transition: visibility 30s ease-in-out;
    background-color: red;
  }

  .container {
    width: 88%;
    margin: auto;
    overflow: hidden;
  }
}
