@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  font-weight: 100;
  padding: 20px 5px;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
}

.nav-flex {
  text-align: center;
  margin: 0;
  padding-right: 2%;
  padding-left: 2%;
  max-width: 375px;
  border: 10px solid black;
}

.nav-flex ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.nav-flex ul li a {
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: #344563;
}

.nav-flex ul .pages {
  justify-content: flex-start;
}

.nav-flex ul .menu {
  justify-content: flex-end;
}

.home-content {
  background-image: url('../images/header-illsutration-mobile.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  height: 100vh;

  /* width: 375px; */
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}

.home-content .primary {
  align-items: center;
  align-content: center;
  font-size: 20px;
  line-height: 2em;
}

.home-content .software-dev {
  color: #36b37f;
  font-size: 30px;
  font-weight: bold;
}

.home-content .supporting {
  text-align: center;
  padding-top: 25px;
  line-height: 1.5em;
  font-size: 13px;
  padding-left: 2%;
  padding-right: 2%;
}

.social-icons {
  padding-left: 2%;
  padding-right: 2%;
}

.social-icons ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 20px;
}

.social-icons ul li i {
  width: 100%;
  height: 100%;
  color: #505f79;
}

.my-recent-works {
  padding-top: 5px;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 30px;
}
